.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;

  & > [data-ds-badge]:first-child {
    margin-left: -6px;
  }
}

.content {
  composes: typography-sm from global;
  line-height: var(--leading-relaxed);
  color: var(--text-secondary);
}
